* {
  background-color: #1f1f1f;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0 60px;
}

h2 {
  text-align: center;
}

input {
  background-color: #b64fc8;
  color: white;
  font-size: 1.2rem;
  width: 100%;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  align-content: center;
  border-radius: 5px;
  border: 1px solid white;
  margin: 0 10px 10px 0;
  overflow: hidden;
}

.card img {
  max-height: 150px;
}
